body {
    background-color:#F2A9B1;
    padding:0.2ex 2ex;
}
h1 {
    text-align:center;
    font-weight:bolder;
}
h3 {
    margin-top:1.5em;
}
/* Tableaux */
table {
    margin-top:0.5ex;
}
table > caption {
    font-style:italic;
}
th {
    text-align:center;
}
td {
}
th, td {
    padding:8px;
}
/* Classes */
.recherche {
    float:right;
    border:1px dotted black;
    padding: 0.8ex 1ex;
}
/* jGrowl */
.jGrowl-notification {
    background-color: #FFC759 !important;
    color: black;
    width: 32ex !important;
    opacity: 0.85 !important;
    font-size: 2.2ex !important;
    /* Bordure */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
