body {
    padding:0.2ex 2ex;
    background: #febbbb;
    background: linear-gradient(135deg, #febbbb 0%,#fe9090 45%,#ff5c5c 100%);
}
h1 {
    text-align:center;
    font-weight:bolder;
}
h3 {
    margin-top:1.5em;
}
input {
    margin:0.5ex;
}
/* Structure */
.gauche {
    float: left;
    width:79%;
}
.droite {
    float: right;
    width:20%;
}
/* Tableaux */
table {
    margin-top:0.5ex;
}
table > caption {
    font-style:italic;
}
th {
    text-align:center;
}
th[data-sort]{
    cursor:pointer;
}
td {
}
th, td {
    padding:8px;
}
/* Classes */
.recherche {
    border:1px dotted black;
    padding:0.8ex 1ex;
}
.filtre {
    text-align:center;
    border-top:none;
    border-left:none;
    border-right:none;
}
.filtre input {
    width:8ex;
}
/* Onglets */
.onglet {
    list-style-type: none;
    padding-bottom: 0.5ex;
}
.onglet li {
    background-color:#ECECFE;
    float: left;
    margin: 2px 2px 0 2px !important;
    border: 1px solid #9EA0A1;
    padding: 1ex;
}
.onglet a {
    display: block;
}
.onglet li:hover {
    background-color:#D0D0FE;
}
/* jGrowl */
.jGrowl-notification {
    background-color: #FFC759 !important;
    color: black;
    width: 32ex !important;
    opacity: 0.85 !important;
    font-size: 2.2ex !important;
    /* Bordure */
    border-radius: 9px;
}
/* upload */
#progress {
    margin-left:3ex;
    vertical-align:middle;
}
