body {
    padding:0 1ex 0.4ex;
    background: #fee5bc;
    background: linear-gradient(90deg, #fef2e9 0%,#fee5bc 100%);
    margin:0;
}
h1 {
    text-align:center;
    font-weight:bolder;
    margin:0.7ex 0;
}
h2 {
    text-align:center;
    font-size:1.2em;
}
h3 {
    margin-top:1em;
}
h4 {
    font-size:1.1em;
    margin-left:6em;
    text-decoration:underline;
}
input {
    margin:0.5ex;
}
footer {
    text-align:center;
    font-style:italic;
}
footer .copyleft {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: inline-block;
}
p {
    text-indent:4ex;
}
#accueil {
    padding:2ex 3ex;
}
#accueil h2 {
    margin:3ex;
}
#noauth {
    text-align:center;
    font-size:1.3em;
}

/* Tableaux */
table, td, th { border: 1px solid #cdcdcd; }
table {
    border-spacing:0;
    border-width: 1px 0 0 1px;
    margin:0 auto;
}
#liste-table, #pending-table {
    width:100%;
}
table > caption {
    font-style:italic;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 3px;
}
td, th {
    padding: 4px 1ex;
    border-width: 0 1px 1px 0;
    vertical-align:top;
}
thead {
    /* Entête collante (FF32) */
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 4px;
}
th {
    text-align:center;
    text-transform: capitalize;
    color:#fef2e9;
    background-color:#272e27;
}
table td[contenteditable=true]:focus {
    outline: #08f 1px solid;
    background: #eee !important;
    resize: none;
}
.affecter_a_tous {
    empty-cells:hide;
    text-align:center;
}
/* tableau : zebra */
.paire, #pending-table tr:nth-child(even), #stats > div tr:nth-child(even), #eps-table tr:nth-child(even) {
    background-color: #fafcfa;
}
.impaire, #pending-table tr:nth-child(odd), #stats > div tr:nth-child(odd), #eps-table tr:nth-child(odd) {
    background-color: #edf5ed;
}
/* tableau triable */
table.sortable tr:hover, #liste-table tr:not([id]) td:not([colspan]) {
    background-color: #dce8dc !important;
}
table.sortable th {
    cursor: pointer;
}
th.sorting-asc, th.sorting-desc  {
    background-color: #666666;
}
table.sortable th:hover {
    background-color: #666666;
    text-decoration: underline;    
}
table.sortable th.sorting-desc:after { 
    content: "\00A0\25BE";
}
table.sortable th.sorting-asc:after { 
    content: "\00A0\25B4";
}
table.sortable th:not(.sorting-asc):not(.sorting-desc):not(.non_sortable):after { 
    content: "\00A0\25B4\25BE";
}
#stats table.sortable {
    margin:0 auto 1ex;
    width:auto;
}
/* les sous-lignes de liste-table sont masquées par défaut */
.sousligne {
    display:none;
}
/* pour les select dans un table */
td select {
    width:100%;
    border:0;
    background-color:transparent;
}
/* légende des statistiques */
.legende {
    margin:1ex 15%;
}
.legende h3 {
    margin-left:8ex;
}
.legende dt {
    font-style:italic;
    margin-top:0.7ex;
}
.legende dd {
    margin-left:9ex;
}
/* Zone de recherche (onglet Statistiques) */
.stats {
    margin: 1ex auto 2ex;
    padding: 2ex;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5ex;
}
.stats tr {
    background-color: transparent;
}
.stats td, .stats th {
    text-align:center;
    padding:0.5ex 2ex;
    background-color: transparent;
    color:black;
}
#stats-recherche td, #stats-recherche th { border: 0; }
.stats select {
    background-color:transparent;
}
#stats-Avertissement {
    margin: 0 5ex;
    font-style:italic;
}
/* boutons d'action : copier -exporter */
.action {
    background-color:rgba(153,191,230,0.3);
    border-radius:2ex;
    border:6px outset #99BFE6;
    padding:9px;
}
.action img {
    vertical-align:middle;
}
/* fond pour les champs mis à jour dynamiquement */
.maj_oui {
    background-color: #B3FFB3 !important;
}
.maj_non {
    background-color: #FFB3B3 !important;
}
/* Le message lors de la fermeture de l'application */
.msg_quitter {
    text-align:center;
    font-size:1.5em;
    margin:4em auto 2em;
}
/* La page des options */
.page_options {
    margin:1em;
    padding:1ex 2ex;
}
.page_options table {
    min-width:350px;
}
/* La ligne qui indique le nombre total d'élèves affichés (onglets Liste et Pending) */
.total {
    float: right;
    margin:2ex 3ex 0 0;
}
/* graphique (onglet Statistiques) */
.graph {
    text-align:center;
}

/* Onglets */
.onglet {
    float:right;
    list-style-type: none;
    margin:0;
    padding:0;
}
.onglet li {
    float: left;
    display:inline;
    padding: 41px 16px 54px;
    font-size: 16px;
    line-height: 16px;
    font-weight:bold;
    cursor: pointer;
    text-transform: uppercase;
    min-width:70px;
    text-align:center;
    text-shadow: 1px 2px 0 #DBD4CA;
    border-top: 3px solid transparent;
}
.onglet li:hover {
    color:#9EB0A9;
    text-shadow: none;
    border-top: 3px solid #887963;
}
header .logo {
    float:left;
    height:90px;
    margin-top:3px;
}
header .quitter {
    float:right;
    height:42px;
    margin-left:10px;
    margin-top:25px;
}
.onglet .actif {
    cursor: default !important;
    background: url("img/onglet_actif.png") no-repeat scroll center top transparent;
    color:#dbd5db;
    text-shadow: none;
}
/* upload */
#progress {
    margin-left:3ex;
    vertical-align:middle;
}

/* Formulaire de login */
#login-message {
    padding-top:1ex;
}
/* EPS */
#eps-select {
    text-align:center;
}
#eps-classes {
    margin-bottom:0.5ex;
}
/*
 * Graceful degradation (pas de js)
 */
#liste, #stats, #eps, #pending, #options, .action, .quitter {
    display: none;
}
#noauth:after{
    display:block;
    margin-top:1ex;
    content:"Javascript est nécessaire pour utiliser ce site."
}
